*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}



body{

background:#fff7f2;

color:#3b1d12;

}




header{

height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

position:sticky;

top:0;

z-index:10;

}



.logo{

font-size:35px;

font-weight:bold;

color:#f58220;

}




nav{

display:flex;

align-items:center;

gap:25px;

}



nav a{

text-decoration:none;

color:#333;

}




button{

background:#f58220;

color:white;

border:0;

padding:12px 25px;

border-radius:30px;

cursor:pointer;

}






.hero{


height:600px;

display:flex;

justify-content:space-around;

align-items:center;

padding:50px;


}




.hero h1{

font-size:70px;

color:#e91e63;

}




.hero img{


width:450px;

height:350px;

object-fit:cover;

border-radius:40px;


}






section{

padding:80px 10%;

}



h2{

font-size:40px;

text-align:center;

margin-bottom:40px;

}





.products{


display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}




.card{


background:white;

padding:25px;

border-radius:30px;

text-align:center;

box-shadow:0 10px 30px #ddd;


}




.card img{


width:100%;

height:220px;

object-fit:cover;

border-radius:20px;


}






#store{


background:#ffe1ec;

text-align:center;

}



.storeBox{

background:white;

padding:40px;

border-radius:30px;

}




.map{


width:80%;

height:300px;

object-fit:cover;

margin-top:30px;

border-radius:30px;

cursor:pointer;

}




.click{

margin-top:20px;

color:#e91e63;

}




#cartPanel{


position:fixed;

right:-400px;

top:0;

width:350px;

height:100%;


background:white;

padding:30px;

transition:.4s;

box-shadow:-10px 0 30px #aaa;

z-index:20;


}



#cartPanel.active{

right:0;

}




.cartItem{


display:flex;

justify-content:space-between;

margin:15px 0;


}




@media(max-width:800px){


.hero{

flex-direction:column;

}



.products{

grid-template-columns:1fr;

}


.hero h1{

font-size:45px;

}



}